{{- $dnd_5e_spells := index .Site.Data "dnd_5e_spells" -}}
{{- $dnd_5e_spells := $dnd_5e_spells.spells -}}
{{- $dnd_5e_spells := sort $dnd_5e_spells ".name" "asc"  -}}

<section>
<h3>By Name</h3>
<p>{{ range $dnd_5e_spells }} <a href="#{{ .name | title}}">{{ .name | title}}</a> - {{ end }} </p>

<!-- Range over the spells to get all he levels -->
<!-- then range over them again to print each spell in the section by level -->
</section>


<section>
  <div class="spells">
{{ range $dnd_5e_spells }}
<h2  style="text-align:center;"  id="{{ .name | title}}" >{{ .name | title}}</h2>
<div style="margin: 30px;"> 
<p style="margin-top: -20px;"><b>Level:</b> 
{{ if eq .level 0}}Cantrip{{ end }}
{{ if eq .level 1}}1st{{ end }}
{{ if eq .level 2}}2nd{{ end }}
{{ if eq .level 3}}3rd{{ end }}
{{ if eq .level 4}}4th{{ end }}
{{ if eq .level 5}}5th{{ end }}
{{ if eq .level 6}}6th{{ end }}

</p>
<p style="margin-top: -20px;"><b>Casting Time:</b> {{ .casting_time }}</p>
<p style="margin-top: -20px;"><b>Range/Area:</b> {{ .range_area }}</p>
<p style="margin-top: -20px;"><b>Components:</b> {{ .components }}</p>
<p style="margin-top: -20px;"><b>Duration:</b> {{ .duration }}</p>
<p style="margin-top: -20px;"><b>School:</b> {{ .school }}</p>
<p style="margin-top: -20px;"><b>Attack/Save:</b> {{ .attack_save }}</p>
<p style="margin-top: -20px;"><b>Damage/Effect:</b> {{ .damage_effect }}</p>
</div>
<p>{{- .description  | markdownify -}}</p>
{{ end }}
  </div>
</section>
